/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.download-action{
	> a{
		cursor:pointer;
		cursor:hand;
		@extend .button-tertiary;
		@extend .button-small;
		@extend .button-generic;
		margin: $sc-base-margin;
	}	
}

download-list-recordviews-actionable-table {
	
}

.text-right{
	
}