/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-header{
	@extend .row;
	margin-bottom: $sc-medium-margin;
}

.login-register-title{
	@extend .col-xs-12;
	font-size: 23px !important;
	font-family: 'Open Sans';
	font-weight: 500;
}

.login-register-body{
	@extend .row;
}

.login-register-body-colored{
	@extend .login-register-body;
	background-color: $sc-color-theme-background;

	padding: $sc-base-padding * 8 $sc-base-padding;

	@media (min-width: $screen-md-min){
		padding: $sc-base-padding * 8 $sc-base-padding * 5;		
	}
}

.login-register-wrapper-column-login,
.login-register-wrapper-column-register{
	@extend .col-xs-12;
	@extend .col-sm-6;
}

.login-register-wrapper-login,
.login-register-wrapper-register{
	@extend .box-column;
}

.login-register-wrapper-guest{}
.login-register-title-register{}

#modalTermsPassword .modal-body, #modalTermsPassword .modal-body p{
	line-height: 1.25;
	font-size: 14px;
}

.modal-title{text-transform: none;}

#modalTermsPassword .modal-body p{
	margin: 10px 0;
}
#modalTermsPassword .login-register-register-form-label{margin: 0;}

#modalTermsPassword #login-saveTermsPassword{
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
}
.close-modal-terms{padding: 10px;}
.login-register-bottom{
	padding: 20px 0;
}

.login-register-bottom p{
	font-size: 13px;

}

.login-register-login-form-fieldset{
	border: none;
	padding: 0;
	margin:0;
}

.bold-text{font-weight: bolder;}

.login-register-main-title{
	font-size: 30px;
	font-weight: bold;
}
.login-register-register-form-submit-margin{margin-bottom:50px;}
.siteNameTerms{padding-right: 6px;}