/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.download-action{
	> a{
		cursor:pointer;
		cursor:hand;
		@extend .button-tertiary;
		@extend .button-small;
		@extend .button-generic;
		margin: $sc-base-margin;
	}	
}

download-list-recordviews-actionable-table {
	
}

.select-categories{
	min-width: 160px;
}

.download-history-line{
	border: solid 1px #ccc;
	padding: 5px 0;
	margin: 0;
	font-size: 14px;
	color: #787878;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.125rem;
}

.header-download-history{
	padding: 10px 0;
	border: solid 1px #ccc;
	background: #eee;
	margin: 0;
}
.clear-separator{clear: both; padding: 5px 0;}
.order-history-list-recordviews-actionable-table{padding: 0;}