/*
 © 2015 NetSuite Inc.
 User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
 provided, however, if you are an authorized user with a NetSuite account or log-in, you
 may use this code subject to the terms that govern your access and use.
*/

.quick-order {
    @extend .container;
    width:100%;
}

// Labels

.quick-order-column-labels {
    @extend .row;
    padding-bottom: $sc-base-padding;
    @media (max-width:990px){
        display:none;
    }
}


// Buttons

.quick-order-buttons {
    padding: 10px 0 15px 0;
}

.quick-order-add-to-cart-button {
    @extend .button-medium;
    @extend .button-primary;
    float: right;
    clear: both;
    @media (max-width:991px){
        float:none !important;
    }
}

.quick-order-addline-button {
    @extend .button-medium;
    @extend .button-secondary;
    margin-bottom: $sc-base-margin * 2;
}

// Icons

.quick-order-add-line {
    @extend %fa-icon-plus-circle;
    @extend .icon-plus-circle;
    @extend .fa-2x;
    color: $sc-color-tertiary;
}

// Part of bootstrap scaffolding but not included in reference distro

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
