/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-confirmation-module {
	display: block;
	padding: 35px;
	background: #eef7e4;
	margin-bottom: $sc-base-margin * 6;
}
.order-wizard-confirmation-module-title {
	color: $sc-color-success;
	margin: 0 0 10px;
}
.order-wizard-confirmation-module-body {
	color: $sc-color-success;
}
.order-wizard-confirmation-module-continue {
	@extend .button-large;
	@extend .button-secondary;
	display:inline-block;
	margin-top: $sc-base-margin * 3;
	margin-right: $sc-base-margin * 4;
	color:white !important;
}

.order-wizard-confirmation-module-download-pdf {
	@extend .button-large;
	@extend .button-tertiary;
	display:inline-block;
	margin-top: $sc-base-margin * 3;
}